 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


 /* .nav__menu::before,
 .nav__menu::after{ 

    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

@media only screen and (max-width: 600px) {
  body {
      width: 100%;
      font-family: "Poppins", sans-serif;
  }
  
}
  
/* .hero {
  height: 100vh;
  background: url(./img/way.jpg) no-repeat center center fixed;
  background-size: cover;
} */
